{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-3">
    <div class="wrapper">
        <a class="btn btn-primary mb-4" href="{{request.META.HTTP_REFERER}}" role="button">&#8592 Go Back</a>

        <div class="headerflex">
            <div class="title-head">
                {% for cat in article.category.all %}
                <a href="{% url 'home' %}?q={{cat}}"><small class='muted cat-main'>{{cat}}</small></a>
                {% endfor %}

                <h2 class="my-3">{{article.title}}</h2>
                <small class="muted">{{article.created_at}}</small>
            </div>

            <img class='article-img' src="{{article.image.url}}" alt="">

        </div>
        <div class="body-article">
            <p class='article-body-p'>{{article.body}}
            </p>
        </div>
        <div class="userauthor d-flex justify-content-end">
            <h6>~ {{article.user.get_full_name}}</h6>
            {% comment %} I can also use get_username method for User object to get username {% endcomment %}
        </div>

        <div class="btn-editable">
            {% if request.user.is_authenticated and request.user == article.user %}
            <a class="btn btn-danger mb-4 btn-edit" href="{% url 'delete' article.slug%}" role="button">Delete</a>
            <a class="btn btn-success mb-4 btn-edit" href="{% url 'update' article.slug%}" role="button">Update</a>
            {% endif %}
        </div>

    </div>

    <section class="comments mt-5">

        <div class="all-comments">
            <h3>Comments:</h3>
            {% for comment in article.comments.all %}
            <div class="each-comment">
                <img src="{{comment.user.profile.pfp.url}}" alt="" class="user-img-comments">
                <p class='comment-self'>{{comment.body}} - {{comment.user.get_full_name}}</p>
                <small class='comment-time'>{{comment.created_at|date}}</small>
            </div>
            {% endfor %}
            {% comment %} WILL ADD COMMENTS HERE {% endcomment %}
        </div>
        {% if request.user.is_authenticated %}
        <form class='comment-box mt-5' action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn comment-btn btn-warning">Add Comment</button>
        </form>
        {% else %}
        <a class="btn btn-dark" href="{% url 'login'%}" role="button">Login to Comment</a>
        {% endif %}


    </section>
</div>

{% endblock content %}