{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-4 d-flex justify-content-center">
    <div class="wrapper">
        <div class="form-control article-form-control">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}