{% extends 'base.html' %}

{% block content %}
<div class="container my-3">

    {% if request.user.is_authenticated %}
    <div class="text-center home-base-title">

        <h2>Hello, <span class='user-title-home'>{{request.user.first_name}}</span></h2>
        <hr>

    </div>
    {% endif %}

    <div class="row d-flex justify-content-center">



        {% for article in articles %}

        <div class="card mx-3 my-3">
            <img src="{{article.image.url}}" class="mt-3 card-img-top" alt="article-image">
            <div class="card-body">
                <h4 class="card-title">{{article.title|truncatechars:18}}</h4>
                <p class="card-text">{{article.body|truncatechars:75}}</p>
                <a href="{% url 'article' article.slug %}" class="btn btn-primary">View Article</a>
            </div>
        </div>

        {% endfor %}

    </div> {% comment %} END ROW {% endcomment %}

</div> {% comment %} END CONTAINER {% endcomment %}
{% endblock content %}